<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>

    <script>
        function hey(){
            
        }

        function nextPage() {
		location.href="happiipark"
        
	}
    </script>
</head>
<body>
    <input type="button" value="행복한 공원" onclick="nextPage()">
</body>
</html>