<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>코딩프로필 - 조우진</title>

    <meta property="og:title" content="코딩 프로필" />
    <meta property="og:description" content="조우진" />
    <meta property="og:image" content="https://drive.google.com/uc?id=156cEeiEXWM2XgPSRI3lBKWe4K1Bro_0Q" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet" />
    <style>
        * {
            font-family: "Gowun Dodum", sans-serif;
        }
    </style>

    <script>
        var page = 1; //페이지 전역변수 선언 (스크롤 페이지와 사이드바 페이지 통일 위함)
        $(document).ready(function () {


            // 마우스 휠 이벤트 제거
            wheel_event()
            guestbook_show()
        });

        function wheel_event() {
            window.addEventListener("wheel", function (e) {
                e.preventDefault();
            }, { passive: false });

            var $html = $("html");

            var lastPage = $(".section").length;

            console.log("페이지수 :" + lastPage)
            $html.animate({ scrollTop: 0 }, 10);

            $(window).on("wheel", function (e) {

                if ($html.is(":animated")) return;

                if (e.originalEvent.deltaY > 0) {
                    if (page == lastPage) return;

                    page++;
                } else if (e.originalEvent.deltaY < 0) {
                    if (page == 1) return;

                    page--;
                }
                var posTop = (page - 1) * $(window).height();

                $html.animate({ scrollTop: posTop });

            })
        }

        function assignPageValue(pagenum) {
            page = pagenum;
            // 이후 val 변수를 사용하여 원하는 작업 수행

        }
        function guestbook_show() {
            let name = $('#name').text();
            console.log(name);
            fetch('/guestbook?name=' + name).then((res) => res.json()).then((data) => {
                let rows = data['result']
                commentIdx = 1;
                $('#comment-list').empty()
                rows.forEach(a => {
                    let id = a['id'];
                    let comment = a['comment'];
                    let password = a['password'];
                    let edittime = a['timestamp'];
                    let objectId = a['_id']
                    let temp_html = `
                    <ul class="list-group list-group-flush">
                        <div class="row">
                            <div class="col">
                                <label for="list-group-item" class="commentId" id="editid-${commentIdx}">${id}</label>
                            </div>
                            <div class="col">
                                 <p id="edittime-${commentIdx}">${edittime}</p>
                            </div>
                            <div class="col">
                                 <input type="text" class="form-control" id="editpassword-${commentIdx}" value="" placeholder="PW">
                            </div>
                        </div>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" class="form-control-plaintext" id="editcomment-${commentIdx}" disabled
                                        value="${comment}">
                                </div>
                                <div class="col-2">
                                    <!-- 내용변경 -->
                                    <div class="button-group">
                                        <button id="edit-button-${commentIdx}" class="edit-button-${commentIdx}" onclick="editbutton_clicked(this)" value="${commentIdx}" data-id="${objectId}">✏️</button>
                                        <button id="done-button-${commentIdx}" style="display: none;" class="done-button-${commentIdx}" onclick="donebutton_clicked(this)" value="${commentIdx}" data-id="${objectId}">완료</button>
                                        <button id="delete-button-${commentIdx}" class="delete-button-${commentIdx}" onclick="deletebutton_clicked(this)" value="${commentIdx}" data-id="${objectId}">❌</button>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>`
                    $('#comment-list').append(temp_html)
                    commentIdx++;
                });
            });
        }
        function savebutton_clicked() {
            let name = $('#name').text(); //페이지 주인 이름
            let comment = $('#comment').val();//댓글내용
            let id = $('#id').val(); // 아이디 입력란의 값을 가져옴
            let password = $('#password').val(); // 비밀번호 입력란의 값을 가져옴
            console.log(name, comment, id, password)
            let formData = new FormData();
            formData.append("name_give", name);
            formData.append("comment_give", comment);
            formData.append("id_give", id);
            formData.append("password_give", password);
            formData.append()

            fetch('/guestbook', { method: "POST", body: formData, }).then((response) => response.json()).then((data) => {
                console.log(data)
                alert(data["msg"]); // app.py(서버)로부터 댓글정보를 반환(return)받아 돌아오는 데이터
                window.location.reload(); 
                // 방명록 작성되었을 때 새로고침 하지 않고 방명록 값만 가져올 방법이 있는지 찾아보기

            });
        }

        function editbutton_clicked(button) {
            // 클릭한 버튼의 id 가져오기위해 button을 인자값으로 받음
            //button.value : <button>태그의 value($commentIdx) ex)방명록의 번호(1, 2, 3,...)
            let objectId = button.getAttribute('data-id')
            let targetpassword = $('#editpassword-' + button.value).val();                   //입력한 pw
            console.log(objectId)

            let formData = new FormData();
            formData.append("objectId_give", objectId);
            formData.append("targetpassword_give", targetpassword);
            fetch('/guestbook/3', { method: "POST", body: formData, }).then((response) => response.json()).then((data) => {
                // 해당 버튼에 대한 처리
                if (data["result"] == "success") {
                    var buttonId = $(this).attr('id');
                    $('#edit-button-' + button.value).hide();
                    $('#done-button-' + button.value).show();

                    $('#editcomment-' + button.value).addClass('form-control');
                    $('#editcomment-' + button.value).removeClass('form-control-plaintext');
                    $('#editcomment-' + button.value).prop('disabled', false);

                }
                else if (data["result"] == "fail") {
                    alert(data["msg"]);
                }
            });
        }

        function donebutton_clicked(button) {
            let objectId = button.getAttribute('data-id')
            let updatecomment = $('#editcomment-'+button.value).val()
            let targetpassword = $('#editpassword-' + button.value).val();

            let formData = new FormData();
            formData.append("objectId_give", objectId);
            formData.append("updatecomment_give", updatecomment)
            formData.append("targetpassword_give", targetpassword);
            fetch('/guestbook/3', { method: "PUT", body: formData, }).then((response) => response.json()).then((data) => {
                // 해당 버튼에 대한 처리
                if (data["result"] == "success") {
                    alert(data["msg"]);
                    window.location.reload(); 
                }
                else if (data["result"] == "fail") {
                    alert(data["msg"]);
                }
            });
        }
    </script>
</head>

<body>


    <div class="sidebar">
        <a href="#s1" onclick="assignPageValue(1)" style="font-size:2.0em; text-decoration:none;">🏠</a>
        <a href="#s2" onclick="assignPageValue(2)" style="font-size:2.0em; text-decoration:none;">💬</a>
        <a href="#s3" onclick="assignPageValue(3)" style="font-size:2.0em; text-decoration:none;">✈️</a>
        <a href="#s4" onclick="assignPageValue(4)" style="font-size:2.0em; text-decoration:none;">📹</a>
    </div>

    <section class="section" id="s1">
        <div class="myprofile">
            <h1>나의 코딩 프로필</h1>
        </div>
        <div class="mycards" id="profile-list">
            <div class="introducecard" action="/guestbook" method="POST">
                <p class="wordframe">이름 : <span class="word" id="name" name="name">조우진</span></p>
                <p class="wordframe">MBTI :<span class="word">INFJ</span></p>
                <p class="wordframe">취미 :<span class="word">✈️여행</span></p>
                <p class="wordframe">장점 :<span class="word">공감해주기</span></p>
                <p class="wordframe">블로그 주소 : <a href="https://velog.io/@dnwls3525">조우진 velog</a></p>
                <p class="wordframe">생년월일 : <span class="word">🎂1995.03.03</span></p>
                <p class="wordframe">전화번호 : <span class="word">📞+(82)10-5543-0461</span></p>
                <p class="wordframe">Email : <span class="word">📧dnwls3525@gmail.com</span></p>
                <!-- <p class="wordframe">협업 스타일 :</p> -->
                <!-- <p class="wordframe">우리 팀의 약속 :</p> -->
            </div>
            <div class="imagecard">
                <img src="/static/image/introduce.jpg" width="333px" height="444px">
            </div>
            <div class="title-comment">
                <p>안녕하세요? 저는 <b>조우진</B>입니다.✨</p>
                <p>2023년, 저는 <b>29살</b> 이에요!</p>
                <p>저는 <b>컴퓨터공학</b>💻을 전공했고</p>
                <p><b>2년 간</b> 식품회사 <b>하림</b>🐔에서 <b>IT직무</b>로 근무했으며</p>
                <p><b>지금!</b> 저의 발전을 위해 <b>내일배움캠프</b>에서 다시 공부를 시작했습니다!</p>
            </div>
        </div>

    </section>

    <section class="section" id="s2">
        <h1>section 2</h1>
        <a href="#">top</a>
        <img src="/static/image/title.svg" alt="title">
        <div class="container">
            <div class="card" id="comment-list">
                <ul class="list-group list-group-flush">
                    <div class="row">
                        <div class="col">
                            <label for="list-group-item" class="commentId" id="editid-1">유저1</label>
                        </div>
                        <div class="col-2" style="margin-right: 30px; ">
                            <input type="text" class="form-control" id="editpassword-1" value="" placeholder="PW">
                        </div>
                    </div>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" id="editcomment-1" disabled
                                    value="1번 방명록 내용 입니다.">
                            </div>
                            <div class="col-2">
                                <!-- 내용변경 -->
                                <div class="button-group">
                                    <button id="edit-button-1" class="edit-button-static">✏️</button>
                                    <button id="done-button-1" style="display: none;"
                                        class="done-button-static">완료</button>
                                    <button id="delete-button-1" class="delete-button-static">❌</button>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="list-group list-group-flush">
                    <div class="row">
                        <div class="col">
                            <label for="list-group-item" class="commentId" id="editid-2">유저2</label>
                        </div>
                        <div class="col-2" style="margin-right: 30px;">
                            <input type="text" class="form-control" id="editpassword-2" value="" placeholder="PW">
                        </div>
                    </div>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-10">
                                <input type="text" class="form-control-plaintext" id="editcomment-2" disabled
                                    value="2번 방명록 내용입니다.">
                            </div>
                            <div class="col-2">
                                <!-- 내용변경 -->
                                <div class="button-group">
                                    <button id="edit-button-2" class="edit-button-static">✏️</button>
                                    <button id="done-button-2" style="display: none;"
                                        class="done-button-static">완료</button>
                                    <button id="delete-button-2" class="delete-button-static">❌</button>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <nav aria-label="...">
                <ul class="pagination" id="pagination">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">1</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="guestbook">
            <div class="guestbook-header">
                방명록 작성하기
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <input class="form-control" id="id" placeholder="ID">
                    </div>
                    <div class="col-2">
                        <input class="form-control" type="password" id="password" placeholder="PW">
                    </div>
                </div>

                <div class="row">
                    <div class="col-10">
                        <div class="mb-3">
                            <textarea class="form-control" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="col-2">
                        <button onclick="savebutton_clicked()" type="button" id="writeButton">등록</button>
                    </div>
                </div>

            </div>

        </div>


    </section>
    <section class="section" id="s3">
        <div class="imagecard">
            <img src="/static/image/tripimage1.jpg" width="444px" height="444px">
        </div>
        <div class="imagecard">
            <img src="/static/image/tripimage3.jpg" width="888px" height="444px">
        </div>
        <div class="imagecard">
            <img src="/static/image/tripimage2.jpg" width="333px" height="444px">
        </div>
    </section>
    <section class="section" id="s4">
        <div class="video-wrapper">
            <video width="313px" height="700px" class="videocard" muted autoplay loop>
                <source src="static/video/tripvideo1.mp4" type="" video/mp4">
            </video>
            <video width="400px" height="700px" class="videocard" muted autoplay loop>
                <source src="static/video/tripvideo3.mp4" type="" video/mp4>
            </video>
            <video width="400px" height="700px" class="videocard" muted autoplay loop>
                <source src="static/video/tripvideo2.mp4" type="" video/mp4>
            </video>

        </div>

    </section>


</body>

</html>